// Q 1:Answer

In [1]:
name="Balaji"
type(name)

str

In [2]:
lst=[1,"A",2,"B",3,"C",4,"D"]
type(lst)

list

In [5]:
flt=15.256
type(flt)

float

In [8]:
tup=(1,"A",2,"B",3,"C")
type(tup)

tuple

// Q 2:Answer

In [10]:
var1=' '
type(var1)

str

In [12]:
var2='[DS,ML,Python]'
type(var2)

str

In [13]:
var3=['DS','ML','Python']
type(var3)

list

In [18]:
var4=1
type(var4)

int

// Q 3:Answer

In [2]:
a=8/4
print(a)  #"/" In python this is used for division

2.0

In [6]:
a=7%2
print(a)  #"%" In python this is used to find the remainder of two digits

1

In [9]:
a=15//2
print(a) #"//" In python it rounds the result down to the nearest whole number

7

In [13]:
a=2
b=3
print(a**b) #"**" In python it is exponetiation it means squares the digits

8

// Q 4:Answer

In [18]:
lst=[1,2,3,"Balaji","Assignment","Pw skills lab",3.14]
for element in lst:
    print(element,type(element))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
Balaji <class 'str'>
Assignment <class 'str'>
Pw skills lab <class 'str'>
3.14 <class 'float'>

// Q 5:Answer

In [9]:
A = 36 
B = 4
divisions = 0
while A % B == 0:
    A = A // B
    divisions += A

print("A is purely divisible by B:" ,"No of times is :", divisions)

A is purely divisible by B: No of times is : 9

//Q 6:Answer

1.Mutable data types: Mutable objects can be modified after creation. This means that you can change their state, add or remove elements, or modify their properties without creating a new object. Examples of mutable data types in Python include lists, dictionaries, and sets.

In [10]:
lst=[1,2,3,4]
print(lst)

[1, 2, 3, 4]

In [13]:
lst.append(5) 
print(lst)

[1, 2, 3, 4, 3, 5]

In [14]:
lst[1]=6
print(lst)

[1, 6, 3, 4, 3, 5]

In the above examples we can modify a list by using append function and also replace an element in list because of list is an mutable

2. Immutable data types: Immutable objects, on the other hand, cannot be modified once they are created. If you want to change the value of an immutable object, you need to create a new object with the updated value. Examples of immutable data types in Python include integers, floats, strings, and tuples.

In [15]:
my_string = "Hello"
print(my_string)

Hello

In [16]:
my_string = my_string + " World"
print(my_string)

Hello World

In [17]:
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)

In [18]:
my_tuple[1] = 5

TypeError: 'tuple' object does not support item assignment